<p-dialog
  header="Add New Expense"
  [visible]="visible()"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '600px' }"
  [contentStyle]="{ 'overflow': 'visible', 'max-height': 'none' }"
  [draggable]="false"
  [styleClass]="'custom-modal'"
>
  <form [formGroup]="newExpense" (ngSubmit)="onSubmit()" class="flex flex-column gap-2 p-2" >
    @if (preSelectedGroupId()) {
      <label class="block text-xl font-medium mb-1 m-auto" > {{selectedGroupName()}}
      </label>
    } @else {
      <div>
        <label class="block text-sm font-medium mb-1">Group</label>
        <p-select formControlName="selectedGroup" [options]="groups()" optionLabel="name" optionValue="id" placeholder="Select Group" class="w-full md:w-56" />
      </div>
    }
    <div>
      <label class="block text-sm font-medium mb-1">Description</label>
      <input pInputText class="w-full" formControlName="description"  placeholder="What's this expense for?" />
    </div>
    <div class="flex flex-row gap-3">
      <div>
        <label class="block text-sm font-medium mb-1">Amount</label>
        <p-inputnumber formControlName="amount" mode="currency" inputId="currency-india" currency="INR" placeholder="Amount" currencyDisplay="code" locale="en-IN" />
      </div>
      <div>
        <label class="block text-sm font-medium mb-1">Date</label>
        <p-datepicker formControlName="date" dateFormat="dd-mm-yy" placeholder="Select Date" />
      </div>
    </div>
    <div>
      <label class="block text-sm font-medium mb-1">Category</label>
      <p-select formControlName="selectedCategory" [options]="categories" optionLabel="category" optionValue="id" placeholder="Select" class="w-full md:w-56" />
    </div>
    <!-- <div class="">
      <label class="block text-sm font-medium mb-1">Split Type</label>
      <p-selectButton 
        [options]="splitOptions" 
        formControlName="spitType" 
        optionLabel="label" 
        optionValue="value" />
    </div> -->
    <p-divider class="m-0"/>
    
    <div>
      <label class="block text-sm font-medium mb-1">PaidBy</label>
      <p-select formControlName="paidBy" [options]="groupMembers" optionLabel="name" optionValue="id" placeholder="Member" class="w-full md:w-56" />
    </div>
    <div class="flex justify-end gap-2 mt-4">
      <button pButton type="button" label="Cancel" class="p-button-text" (click)="onClose()"></button>
      <button pButton type="submit" label="Add Expense" class="p-button-primary" [disabled]="newExpense.invalid"></button>
    </div>
  </form>
</p-dialog>