
  <div class="p-d-flex ai-center p-jc-between p-mb-3 row">
    <h2 class="p-text-2xl font-bold">Settlement</h2>
    <button pButton label="Settlement History" class="p-button-outlined" (click)="showHistroyDialog= true"></button>
  </div>
  <p-toast></p-toast>

  @for (settlement of settlements; track $index) {
    <div class="settlement-item ">
      <div class="settlement-info">
        <div class="settlement-avatar">{{ settlement.avatar }}</div>
        <div class="p-grid dir-col">
          <p class="m-0 font-semibold">{{ settlement.title }}</p>
          <div class="settlement-meta text-secondary">From {{ settlement.source }} expenses</div>
        </div>
    </div>
    <div [class]="'settlement-amount ' + (settlement.amount > 0 ? 'positive' : 'negative')">
      {{ settlement.amount | currency : "INR" : "symbol" : "1.2-2" }}
    </div>
   <button pButton 
        label="{{ settlement.amount < 0 ? 'Settle Up' : 'Remind' }}" 
        [ngClass]="settlement.amount > 0 ? 'p-button-outlined' : 'p-button-info'" 
        (click)="settlement.amount < 0 ? handleSettleUp(settlement) : showReminder()">
</button>
  </div>
  
}

@empty {
  <div class="no-settlements">No settlements to display.</div>
}

<p-dialog
  header="Settlement History"
  [(visible)]="showHistroyDialog"
  [modal]="true"
  [style]="{ width: '500px' }"
  [closable]="true"
  [draggable]="false"
  [dismissableMask]="true"
>
  <ng-container *ngIf="historySettlements.length; else noHistory">
    <div *ngFor="let s of historySettlements" class="history-item p-mb-3">
      <div class="font-semibold">
        {{ s.fromId === userId ? 'You paid' : 'You received' }} ₹{{ s.amount }}
      </div>
      <div class="text-secondary text-sm">
         Group #{{ s.groupId }}
      </div>
    </div>
  </ng-container>

  <ng-template #noHistory>
    <p class="text-center">No settlement history available.</p>
  </ng-template>
</p-dialog>

<app-pin-verification-dialog [visible]="verifyDialog" />