
  <div class="p-d-flex ai-center p-jc-between p-mb-3 row">
    <h2 class="p-text-2xl font-bold">Settlement</h2>
    <button pButton label="Settlement History" class="p-button-outlined"></button>
  </div>

  @for (settlement of settlements; track $index) {
    <div class="settlement-item ">
      <div class="settlement-info">
        <div class="settlement-avatar">{{ settlement.avatar }}</div>
        <div class="p-grid dir-col">
          <p class="m-0 font-semibold">{{ settlement.title }}</p>
          <div class="settlement-meta text-secondary">From {{ settlement.source }} expenses</div>
        </div>
    </div>
    <div [class]="'settlement-amount ' + (settlement.amount > 0 ? 'positive' : 'negative')">
      {{ settlement.amount | currency : "INR" : "symbol" : "1.2-2" }}
    </div>
    <div class="settlement-actions">
        <button pButton label="Remind" class="p-button-outlined" (click)="onRemind(settlement)"></button>
      <button pButton label="{{ settlement.amount > 0 ? 'Settle Up' : 'Pay Now' }}" class="p-button-primary" (click)="onSettle(settlement)"></button>
    </div>
  </div>
}

@empty {
  <div class="no-settlements">No settlements to display.</div>
}
